<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger tout le trafic vers le dossier public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Si la requête est un fichier ou un répertoire existant, ne rien faire
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les autres requêtes vers public/index.php
    RewriteRule ^ public/index.php [L]
</IfModule>


